{:indentation {:list-indent 1
                :indents {#".*" [[:inner 0]]}}
 :remove-surrounding-whitespace? true
 :remove-trailing-whitespace? true
 :remove-consecutive-blank-lines? true
 :insert-missing-whitespace? true
 :align-associative? false}